<meta charset="utf-8">
<meta http-equiv="refresh" content="900">
<link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
<link rel="stylesheet" href="dagra.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="skrypt.js"></script>

<!-- refresher -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div onClick="window.location.reload()" >
<a class="float" >
<i class="fa fa-sync-alt my-float" ></i>
</a>
</div><div id="""69688336""><div class="numer-faktury">57/3<button class ="przycisk-wyslij" onclick=wyslij('69688336')>DO WYSŁANIA</button></div><br><div class="produkt" id=69688336x0> beddinge szary jasny  L32P</div><button class ="przycisk" onclick=wyciete('69688336x0')>WYCIĘTE</button><hr class="produkt-line"></div><hr><h1>wuj 939 0</h1><h1>wuj 939 0</h1><div id="""69719753""><div class="numer-faktury">54/3<button class ="przycisk-wyslij" onclick=wyslij('69719753')>DO WYSŁANIA</button></div><br><div class="produkt" id=69719753x0> E. 2os nierozkładaną czarny  A18</div><button class ="przycisk" onclick=wyciete('69719753x0')>WYCIĘTE</button><hr class="produkt-line"><div class="uwagi">⚠️Uwagi: próbki wysłane : środa 13.03. Zapytać  się : czy Pixbo ?</div></marquee></div><hr><h1>wuj 4999 0</h1><h1>wuj 4999 0</h1><div id="""70045133""><div class="numer-faktury">56/3<button class ="przycisk-wyslij" onclick=wyslij('70045133')>DO WYSŁANIA</button></div><br><div class="produkt" id=70045133x0> E. 3os Pixbo rozkładaną beż  A01</div><button class ="przycisk" onclick=wyciete('70045133x0')>WYCIĘTE</button><hr class="produkt-line"><div class="uwagi">⚠️Uwagi: 100% Pixbo</div></marquee></div><hr><h1>wuj 4998 0</h1><h1>wuj 4998 0</h1><div id="""70075207""><div class="numer-faktury">58/3<button class ="przycisk-wyslij" onclick=wyslij('70075207')>DO WYSŁANIA</button></div><br><div class="produkt" id=70075207x0> beddinge szary ciemny  L06P</div><button class ="przycisk" onclick=wyciete('70075207x0')>WYCIĘTE</button><hr class="produkt-line"></div><hr><h1>wuj 393 0</h1><h1>wuj 393 0</h1><div id="""70084758""><div class="numer-faktury">59/3<button class ="przycisk-wyslij" onclick=wyslij('70084758')>DO WYSŁANIA</button></div><br><div class="produkt" id=70084758x0>Poszewka na poduszkę pod plecy B.   x2 </div><button class ="przycisk" onclick=wyciete('70084758x0')>WYCIĘTE</button><hr class="produkt-line"><br><div class="produkt" id=70084758x1> beddinge szary jasny  L32T</div><button class ="przycisk" onclick=wyciete('70084758x1')>WYCIĘTE</button><hr class="produkt-line"></div><hr>